.order-rectangle-10 {
  cursor: pointer;
  border: 1px solid var(--color-tan-300);
  padding: 0;
  background-color: var(--color-tan-100);
  position: absolute;
  top: 8.5px;
  left: 7.5px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 247px;
  height: 79px;
}
.payment-successful {
  position: absolute;
  top: 23px;
  left: 64px;
}
.check-out2,
.payment-succesful-child {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.payment-succesful-child {
  border: 2px solid var(--color-seagreen-100);
  background-color: var(--color-darkseagreen);
  top: 53px;
  left: 141px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.check-out2 {
  border: 0;
  background-color: transparent;
  top: 58px;
  left: 152px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 57px;
  height: 16px;
}
.payment-succesful-item {
  position: absolute;
  top: 53px;
  left: 43px;
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.back1,
.payment-succesful {
  font-family: var(--font-catamaran);
}
.back1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 58px;
  left: 55px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 57px;
  height: 16px;
}
.payment-succesful {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 262px;
  height: 95px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
}
