.beverages-2-54,
.beverages-5-1 {
  position: absolute;
  top: calc(50% - 199px);
  left: calc(50% - 238px);
  width: 439px;
  height: 428px;
  object-fit: cover;
}
.beverages-5-1 {
  top: calc(50% - 148px);
  left: calc(50% - 368px);
  width: 741px;
  height: 271px;
}
.copyright2023all-rights-rese {
  position: absolute;
  top: 382px;
  left: 5px;
}
.add-order,
.group-child {
  cursor: pointer;
  position: absolute;
}
.group-child {
  top: calc(50% - 16.5px);
  left: calc(50% - 74px);
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-100);
  border: 1px dashed var(--color-dimgray-100);
  box-sizing: border-box;
  width: 148px;
  height: 33px;
}
.add-order {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 9.5px);
  left: calc(50% - 60px);
  font-size: var(--font-size-mid);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-dimgray-200);
  text-align: center;
  display: inline-block;
  width: 121px;
  height: 26px;
}
.frame-26-button,
.rectangle-group {
  position: absolute;
  width: 148px;
  height: 33px;
}
.rectangle-group {
  top: calc(50% - 16.5px);
  left: calc(50% - 74px);
}
.frame-26-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 322px;
  left: 376px;
}
.frame-26-button:hover,
.frame-27-button:hover {
  background-color: var(--color-burlywood-300);
}
.card-query2 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 60px);
  font-size: var(--font-size-mid);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-dimgray-200);
  text-align: center;
  width: 121px;
  height: 26px;
  cursor: pointer;
}
.frame-27-button {
  border: 1px dashed var(--color-dimgray-100);
  padding: 0;
  background-color: var(--color-tan-100);
  position: absolute;
  top: calc(50% + 123px);
  left: calc(50% - 191px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 148px;
  height: 33px;
}
.homepage {
  position: relative;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 398px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-catamaran);
}
