.order-rectangle-112,
.order-rectangle-113 {
  position: absolute;
  top: 8.5px;
  left: 5.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 277px;
  height: 55px;
}
.order-rectangle-113 {
  top: 66.5px;
  background-color: var(--color-bisque-100);
  height: 27px;
}
.please-enter-your1 {
  position: absolute;
  top: 23px;
  left: calc(50% - 111.5px);
}
.paymaya-payment-child {
  position: absolute;
  top: 97px;
  left: 197px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.proceed2 {
  position: absolute;
  top: 102px;
  left: 208px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
}
.paymaya-payment-item {
  position: absolute;
  top: 97px;
  left: 23px;
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.cancel2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 35px;
  font-weight: 700;
  font-family: var(--font-catamaran);
}
.cancel2,
.cancel3,
.proceed3 {
  position: absolute;
  top: 102px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
  cursor: pointer;
}
.proceed3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 208px;
  font-weight: 700;
  font-family: var(--font-catamaran);
}
.cancel3 {
  left: 35px;
}
.paymaya-payment {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 289px;
  height: 133px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-catamaran);
}
