.final-order-child16 {
  position: absolute;
  top: 56px;
  left: 304px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-tan-100);
  width: 426px;
  height: 328px;
}
.final-order-child17,
.final-order-child18,
.final-order-child19,
.final-order-child20 {
  position: absolute;
  top: 89px;
  left: 318px;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-100);
  width: 72px;
  height: 62px;
}
.final-order-child18,
.final-order-child19,
.final-order-child20 {
  left: 400px;
}
.final-order-child19,
.final-order-child20 {
  top: 158px;
  left: 318px;
  background-color: var(--color-navajowhite-100);
}
.final-order-child20 {
  left: 400px;
}
.final-order-child21,
.final-order-child22,
.final-order-child23,
.final-order-child24 {
  position: absolute;
  top: 229px;
  left: 318px;
  border-radius: var(--br-3xs);
  background-color: var(--color-navajowhite-200);
  width: 72px;
  height: 62px;
}
.final-order-child22,
.final-order-child23,
.final-order-child24 {
  left: 400px;
}
.final-order-child23,
.final-order-child24 {
  top: 300px;
  left: 317px;
  background-color: var(--color-burlywood-100);
}
.final-order-child24 {
  left: 399px;
}
.final-order-child25 {
  position: absolute;
  top: 56px;
  left: 304px;
  width: 426px;
  height: 24px;
}
.final-order-child26 {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 746px;
  height: 40px;
}
.beverages-2-33 {
  position: absolute;
  top: 272px;
  left: 473px;
  width: 83px;
  height: 89px;
  object-fit: cover;
}
.order-rectangle-241,
.order-rectangle-251,
.order-rectangle-261,
.order-rectangle-271 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-bisque-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-251,
.order-rectangle-261,
.order-rectangle-271 {
  top: 27px;
  background-color: var(--color-tan-100);
}
.order-rectangle-261,
.order-rectangle-271 {
  top: 189px;
  left: 0.99px;
}
.order-rectangle-271 {
  top: 54px;
  left: 0;
  background-color: var(--color-bisque-100);
}
.order-rectangle-281,
.order-rectangle-291,
.order-rectangle-301,
.order-rectangle-311,
.order-rectangle-321,
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  position: absolute;
  top: 81px;
  left: 0;
  background-color: var(--color-tan-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-291,
.order-rectangle-301,
.order-rectangle-311,
.order-rectangle-321,
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  top: 243px;
  left: 0.99px;
}
.order-rectangle-301,
.order-rectangle-311,
.order-rectangle-321,
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  top: 135px;
  left: 0;
}
.order-rectangle-311,
.order-rectangle-321,
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  top: 297px;
  left: 0.99px;
}
.order-rectangle-321,
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  top: 108px;
  left: 0;
  background-color: var(--color-bisque-100);
}
.order-rectangle-331,
.order-rectangle-341,
.order-rectangle-351 {
  top: 270px;
  left: 0.99px;
}
.order-rectangle-341,
.order-rectangle-351 {
  top: 162px;
  left: 0;
}
.order-rectangle-351 {
  top: 216px;
}
.order-rectangle-24-group {
  position: absolute;
  top: 412px;
  left: 22px;
  width: 261px;
  height: 324px;
}
.b90 {
  top: 93px;
  left: 235px;
  font-size: var(--font-size-xs);
  width: 35px;
  height: 9px;
}
.b90,
.b91,
.final-order-child27 {
  position: absolute;
  display: none;
}
.b91 {
  top: 201px;
  left: 235px;
  font-size: var(--font-size-xs);
  width: 35px;
  height: 9px;
}
.final-order-child27 {
  top: 7px;
  left: 284px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 116px;
  height: 42px;
}
.order-rectangle-135,
.order-rectangle-183 {
  position: absolute;
  top: 0;
  left: 0.01px;
  background-color: var(--color-bisque-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-135 {
  top: 189px;
  left: 0;
  background-color: var(--color-tan-100);
}
.order-rectangle-153,
.order-rectangle-173,
.order-rectangle-203,
.order-rectangle-213,
.order-rectangle-233,
.order-rectangle-53,
.order-rectangle-63 {
  position: absolute;
  top: 54px;
  left: 0.01px;
  background-color: var(--color-bisque-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-153,
.order-rectangle-173,
.order-rectangle-213,
.order-rectangle-233,
.order-rectangle-53,
.order-rectangle-63 {
  top: 81px;
  background-color: var(--color-tan-100);
}
.order-rectangle-153,
.order-rectangle-173,
.order-rectangle-233,
.order-rectangle-53,
.order-rectangle-63 {
  top: 243px;
  left: 0;
}
.order-rectangle-173,
.order-rectangle-233,
.order-rectangle-53,
.order-rectangle-63 {
  top: 108px;
  left: 0.01px;
  background-color: var(--color-bisque-100);
}
.order-rectangle-173,
.order-rectangle-53,
.order-rectangle-63 {
  top: 270px;
  left: 0;
}
.order-rectangle-53,
.order-rectangle-63 {
  top: 162px;
  left: 0.01px;
}
.order-rectangle-63 {
  top: 216px;
}
.order-rectangle-18-parent1 {
  position: absolute;
  top: 41px;
  left: 31.99px;
  width: 260.02px;
  height: 297px;
}
.order-rectangle-193 {
  position: absolute;
  top: 23px;
  left: 32px;
  background-color: var(--color-tan-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-73 {
  position: absolute;
  top: 184.5px;
  left: 31.5px;
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 261px;
  height: 108px;
}
.beverages-2-56 {
  position: absolute;
  top: 188.22px;
  left: 38.95px;
  width: 74.43px;
  height: 71.6px;
  object-fit: cover;
}
.frame-child36 {
  position: absolute;
  top: 259.82px;
  left: 32px;
  background-color: var(--color-tan-400);
  width: 260px;
  height: 32.18px;
}
.clear-button-button-child,
.frame-child37 {
  position: absolute;
  top: 226.83px;
  left: 218.56px;
  border-radius: var(--br-8xs);
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 65.5px;
  height: 23.33px;
}
.clear-button-button-child {
  top: 0;
  left: 0;
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  width: 78.4px;
  height: 21.72px;
}
.clear1 {
  position: absolute;
  top: 2.55px;
  left: 11.69px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  width: 56.56px;
  height: 12.87px;
}
.clear-button-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 265.45px;
  left: 122.31px;
  width: 78.4px;
  height: 21.72px;
}
.clear-button-button:hover {
  background-color: #654f2f;
}
.add-button {
  position: absolute;
  top: 2.55px;
  left: 9.05px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  width: 56.56px;
  height: 12.87px;
}
.add-button-button,
.pay-button-button-child {
  position: absolute;
  width: 78.4px;
  height: 21.72px;
}
.add-button-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 265.45px;
  left: 38.95px;
}
.add-button-button:hover {
  background-color: #532f1c;
}
.pay-button-button-child {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
}
.pay-button-button,
.pay1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.pay1 {
  top: 2.55px;
  left: 11.35px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 56.56px;
  height: 12.87px;
}
.pay-button-button {
  top: 265.45px;
  left: 207.65px;
  width: 78.4px;
  height: 21.72px;
}
.pay-button-button:hover {
  background-color: #4a9e54;
}
.b92,
.total4 {
  position: absolute;
  top: 228.86px;
  left: 233.45px;
  display: inline-block;
  width: 35.73px;
  height: 16.09px;
}
.total4 {
  top: 231.66px;
  left: 163.98px;
  width: 43.66px;
  height: 14.48px;
}
.order-rectangle-223 {
  position: absolute;
  top: 131px;
  left: 32px;
  background-color: var(--color-tan-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.chocolate5,
.hokkaido8,
.hokkaido9,
.matcha4 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 127.82px;
  height: 20px;
}
.chocolate5,
.hokkaido8,
.hokkaido9 {
  top: 25px;
  left: 7.81px;
}
.hokkaido8,
.hokkaido9 {
  top: 53px;
  left: 6.83px;
}
.hokkaido9 {
  top: 82px;
  left: 7.81px;
}
.b93,
.matcha-parent1 {
  position: absolute;
  top: 0;
}
.matcha-parent1 {
  left: 0;
  width: 135.62px;
  height: 102px;
  font-size: var(--font-size-base);
}
.b93 {
  width: 34.15px;
}
.b93,
.b94,
.b95 {
  left: 0;
  display: inline-block;
  height: 9px;
}
.b94 {
  position: absolute;
  top: 26px;
  width: 34.15px;
}
.b95 {
  top: 54px;
}
.b95,
.b96,
.parent3 {
  position: absolute;
  width: 34.15px;
}
.b96 {
  top: 84px;
  left: 0;
  display: inline-block;
  height: 9px;
}
.parent3 {
  top: 1px;
  left: 227.34px;
  height: 93px;
}
.quantity-43 {
  position: absolute;
  top: 27px;
  left: 0;
  box-sizing: border-box;
}
.quantity-13,
.quantity-23,
.quantity-43 {
  border-radius: var(--br-3xs);
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  width: 48.78px;
  height: 17px;
}
.quantity-13 {
  position: absolute;
  top: 1px;
  left: 0;
  box-sizing: border-box;
}
.quantity-23 {
  top: 83px;
}
.circle24,
.quantity-23,
.quantity-53 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.quantity-53 {
  top: 56px;
  border-radius: var(--br-3xs);
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  width: 48.78px;
  height: 17px;
}
.circle24 {
  top: 3.5px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  width: 11.71px;
  height: 12px;
}
.b97 {
  left: 3.9px;
  display: inline-block;
  width: 3.9px;
}
.b97,
.b98,
.circle-parent {
  position: absolute;
  top: 0;
}
.circle-parent {
  left: 2.93px;
  width: 11.71px;
  height: 20px;
}
.b98 {
  left: 2.44px;
  display: inline-block;
  width: 6.83px;
}
.circle-container,
.circle-group {
  position: absolute;
  top: 0;
  left: 34.15px;
  width: 11.71px;
  height: 20px;
}
.circle-container {
  top: 26px;
  left: 2.93px;
}
.circle-parent1 {
  top: 26px;
  left: 34.15px;
  width: 11.71px;
  height: 20px;
}
.b101,
.circle-parent1,
.circle28 {
  position: absolute;
}
.circle28 {
  top: 58.5px;
  left: 2.93px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  box-sizing: border-box;
  width: 11.71px;
  height: 12px;
}
.b101 {
  top: 55px;
  left: 6.83px;
  display: inline-block;
  width: 3.9px;
}
.circle-parent2 {
  top: 55px;
  left: 34.15px;
  height: 20px;
}
.circle-parent2,
.circle-parent3,
.circle30 {
  position: absolute;
  width: 11.71px;
}
.circle30 {
  top: 85.5px;
  left: 34.15px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  box-sizing: border-box;
  height: 12px;
}
.circle-parent3 {
  top: 82px;
  left: 2.93px;
  height: 20px;
}
.b104,
.b105,
.b106,
.b107,
.b108 {
  position: absolute;
  top: 82px;
  left: 36.59px;
  display: inline-block;
  width: 6.83px;
}
.b105,
.b106,
.b107,
.b108 {
  top: 0;
  left: 22.44px;
  width: 4.88px;
}
.b106,
.b107,
.b108 {
  top: 26px;
  left: 21.47px;
}
.b107,
.b108 {
  top: 55px;
  left: 20.49px;
  width: 5.85px;
}
.b108 {
  top: 81px;
}
.quantity-4-parent1,
.x-circle12 {
  position: absolute;
  top: 1px;
  left: 173.67px;
  width: 48.78px;
  height: 102px;
}
.x-circle12 {
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightcoral-100);
  border: 1px solid var(--color-lightcoral-200);
  box-sizing: border-box;
  width: 13.66px;
  height: 14px;
}
.x12 {
  position: absolute;
  top: 0;
  left: 3.41px;
  display: inline-block;
  width: 6.83px;
}
.x-circle-parent10,
.x-circle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.66px;
  height: 20px;
}
.x-circle-parent11 {
  top: 26px;
}
.frame-parent12,
.x-circle-parent12,
.x-circle-parent13 {
  position: absolute;
  top: 53px;
  left: 0;
  width: 13.66px;
  height: 20px;
}
.frame-parent12,
.x-circle-parent13 {
  top: 81px;
}
.frame-parent12 {
  top: 1px;
  left: 267.34px;
  height: 101px;
  color: var(--color-white);
}
.b109,
.frame-child38 {
  position: absolute;
  top: 0;
}
.frame-child38 {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.b109 {
  left: 4.88px;
  display: inline-block;
  width: 7.81px;
}
.ellipse-parent1 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 18.54px;
  height: 20px;
}
.l4,
.large4 {
  position: absolute;
  top: 52px;
}
.large4 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.l4 {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-child39,
.s8 {
  position: absolute;
  top: 0;
}
.frame-child39 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.s8 {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-child40,
.m4 {
  position: absolute;
  top: 26px;
}
.frame-child40 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.m4 {
  left: 25.37px;
  display: inline-block;
  width: 9.76px;
}
.frame-child41,
.s9 {
  position: absolute;
  top: 81px;
}
.frame-child41 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.s9 {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-parent11,
.frame-parent13 {
  position: absolute;
  top: 1px;
  left: 114.16px;
  width: 40px;
  height: 101px;
}
.frame-parent11 {
  top: 0;
  left: 0;
  width: 281px;
  height: 103px;
}
.order-rectangle-19-parent1 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 292.01px;
  height: 292px;
}
.frame-child42,
.frame-child43 {
  position: absolute;
  top: 46px;
  left: 286px;
  background-color: var(--color-gainsboro);
  width: 3px;
  height: 154px;
}
.frame-child43 {
  border-radius: var(--br-31xl);
  background-color: var(--color-tan-500);
  height: 22px;
}
.frame-parent10 {
  position: absolute;
  top: 50px;
  left: -9px;
  width: 292.01px;
  height: 338px;
  font-size: var(--font-size-xs);
}
.order-area3 {
  position: absolute;
  top: 50px;
  left: 22px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-tan-100);
  width: 260px;
  height: 41px;
}
.drinks2 {
  top: 56px;
  left: 337px;
  color: var(--color-peachpuff-100);
}
.drinks2,
.extra1,
.food2,
.size3 {
  position: absolute;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 115px;
  height: 17px;
}
.size3 {
  top: 56px;
  left: 458px;
  color: var(--color-peachpuff-100);
}
.extra1,
.food2 {
  top: 225px;
  left: 460px;
}
.food2 {
  top: 56px;
  left: 588px;
  color: var(--color-peachpuff-100);
}
.blueberry1,
.chocolate6,
.matcha5,
.red-velvet1 {
  position: absolute;
  top: 110px;
  left: 310px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.blueberry1,
.matcha5,
.red-velvet1 {
  top: 178px;
}
.blueberry1,
.red-velvet1 {
  top: 251px;
  left: 308px;
}
.red-velvet1 {
  top: 321px;
  left: 309px;
  color: var(--color-white);
}
.beverages-2-48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.b110 {
  font-family: var(--font-catamaran);
}
.bobastic8 {
  position: absolute;
  top: 15px;
  left: 16px;
  text-decoration: underline;
  display: inline-block;
  width: 97px;
  height: 26px;
  cursor: pointer;
}
.beverages-2-4-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 41px;
  font-size: var(--font-size-sm);
  color: var(--color-tan-100);
  font-family: var(--font-league-spartan);
}
.final-order-child28 {
  position: absolute;
  top: 8px;
  left: 167px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 116px;
  height: 42px;
}
.check-out5,
.order4,
.payment4 {
  position: absolute;
  top: 15px;
  left: 188px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 72px;
  height: 17px;
}
.check-out5,
.payment4 {
  top: 14px;
  left: 305px;
  color: var(--color-cornsilk);
}
.check-out5 {
  left: 422px;
}
.brown1 {
  margin: 0;
}
.brown-sugar1,
.dark-mocha1,
.hokkaido10,
.strawberry1 {
  position: absolute;
  left: 391px;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.brown-sugar1 {
  top: 311px;
  color: var(--color-white);
}
.dark-mocha1,
.hokkaido10,
.strawberry1 {
  top: 241px;
}
.hokkaido10,
.strawberry1 {
  top: 179px;
  left: 392px;
}
.strawberry1 {
  top: 110px;
  left: 391.5px;
}
.final-order-child29,
.final-order-child30,
.final-order-child31,
.final-order-child32 {
  position: absolute;
  top: 90px;
  left: 482px;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-100);
  width: 72px;
  height: 34px;
}
.final-order-child30,
.final-order-child31,
.final-order-child32 {
  top: 135px;
  background-color: var(--color-navajowhite-100);
}
.final-order-child31,
.final-order-child32 {
  top: 180px;
  background-color: var(--color-navajowhite-200);
}
.final-order-child32 {
  top: 251px;
  background-color: var(--color-burlywood-100);
}
.large5,
.medium1,
.small1 {
  position: absolute;
  top: 98px;
  left: 473px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 90px;
  height: 19px;
}
.large5,
.medium1 {
  top: 141px;
}
.large5 {
  top: 187px;
  left: 472px;
}
.frame-child44,
.frame-child45 {
  position: absolute;
  top: 0;
  left: 9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-100);
  width: 72px;
  height: 62px;
}
.frame-child45 {
  left: 91px;
}
.frame-child46,
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51 {
  position: absolute;
  top: 69px;
  left: 9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-navajowhite-100);
  width: 72px;
  height: 62px;
}
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51 {
  left: 91px;
}
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51 {
  top: 140px;
  left: 9px;
  background-color: var(--color-navajowhite-200);
}
.frame-child49,
.frame-child50,
.frame-child51 {
  left: 91px;
}
.frame-child50,
.frame-child51 {
  top: 211px;
  left: 8px;
  background-color: var(--color-burlywood-100);
}
.frame-child51 {
  left: 90px;
}
.macadamia-cookie1 {
  top: 222px;
  left: 0;
  color: var(--color-white);
}
.chocolate-donut1,
.cinn-danish1,
.macadamia-cookie1,
.sausage-roll1 {
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.chocolate-donut1 {
  top: 222px;
  left: 83px;
  color: var(--color-white);
}
.cinn-danish1,
.sausage-roll1 {
  top: 21px;
  left: 1px;
}
.sausage-roll1 {
  top: 82px;
  left: 0;
}
.tuna-pandesal1 {
  top: 152px;
  left: 1px;
}
.cinn-bun2,
.flatbread1,
.french-butter-croissant1,
.tuna-pandesal1 {
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 19px;
}
.french-butter-croissant1 {
  top: 155px;
  left: 82px;
  font-size: var(--font-size-3xs);
}
.cinn-bun2,
.flatbread1 {
  top: 89px;
  left: 84px;
}
.cinn-bun2 {
  top: 20px;
  left: 83px;
}
.rectangle-container {
  position: absolute;
  top: 88px;
  left: 554px;
  width: 174px;
  height: 273px;
  font-size: var(--font-size-xs);
}
.boba1 {
  position: absolute;
  top: 258px;
  left: 472px;
  display: inline-block;
  color: var(--color-white);
  width: 90px;
  height: 19px;
}
.ang-caption-icon3 {
  position: absolute;
  top: 323px;
  left: 456px;
  width: 117px;
  height: 88px;
  object-fit: cover;
}
.final-order1 {
  position: relative;
  background-color: var(--color-cornsilk);
  width: 100%;
  height: 398px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray-200);
  font-family: var(--font-catamaran);
}
