

/* ````````````````````````````````````````````````` */


.search-engine {
  position: absolute;
  display: flex;
  top: 50%;
  left: 10%;
  border-radius: 25px;
  background-color: #dbb6af;
  width: 80%;
  height: 3vh;
}
.card-query-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 100%;
  height: 40px;
}
.b4,
.b5 {
  position: absolute;
  top: 93px;
  left: 235px;
  display: none;
  color: var(--color-dimgray-200);
  width: 35px;
  height: 9px;
}
.b5 {
  top: 201px;
}
.beverages-2-41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.b6 {
  font-family: var(--font-catamaran);
}
.bobastic1 {
  position: absolute;
  top: 15px;
  left: 16px;
  text-decoration: underline;
  display: inline-block;
  width: 97px;
  height: 26px;
  cursor: pointer;
}
.beverages-2-4-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 41px;
  font-size: var(--font-size-sm);
  color: var(--color-tan-100);
  font-family: var(--font-league-spartan);
}
.card-query-inner,
.card-query-item {
  position: absolute;
  border-radius: var(--br-3xs);
}
.card-query-item {
  top: 7px;
  left: 284px;
  background-color: var(--color-cornsilk);
  width: 116px;
  height: 42px;
  display: none;
}
.card-query-inner {
  margin-top: 76px;
  margin-left: 32px;
  margin-right: 32px;
  background-color: var(--color-wheat-200);
  width: 94%;
  height: 100%;
}
.password {
  position: absolute;
  top: 267px;
  left: 345px;
  font-family: var(--font-titillium-web);
  color: var(--color-wheat-200);
}

.line-div {
  position: absolute;
  top: 107.5px;
  left: 31.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94vw;
  height: 1px;
}
.card-query-child2,
.card-query-child3,
.card-query-child4,
.card-query-child5,
.card-query-child6,
.card-query-child7,
.card-query-child8 {
  position: absolute;
  top: 133px;
  left: 31.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94vw;
  height: 1px;
}
.card-query-child3,
.card-query-child4,
.card-query-child5,
.card-query-child6,
.card-query-child7,
.card-query-child8 {
  top: 156.5px;
}
.card-query-child4,
.card-query-child5,
.card-query-child6,
.card-query-child7,
.card-query-child8 {
  top: 180px;
}
.card-query-child5,
.card-query-child6,
.card-query-child7,
.card-query-child8 {
  top: 203.5px;
  left: 31.51px;
}
.card-query-child6,
.card-query-child7,
.card-query-child8 {
  top: 227px;
}
.card-query-child7,
.card-query-child8 {
  top: 250.5px;
}
.card-query-child8 {
  top: 274px;
  left: 31.52px;
}
.card-query-child10,
.card-query-child11,
.card-query-child12,
.card-query-child13,
.card-query-child14,
.card-query-child9 {
  position: absolute;
  top: 297.5px;
  left: 31.52px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 94vw;
  height: 1px;
}
.card-query-child10,
.card-query-child11,
.card-query-child12,
.card-query-child13,
.card-query-child14 {
  top: 321px;
}
.card-query-child11,
.card-query-child12,
.card-query-child13,
.card-query-child14 {
  top: 344.5px;
  left: 31.53px;
}
.card-query-child12,
.card-query-child13,
.card-query-child14 {
  top: 368px;
}
.card-query-child13,
.card-query-child14 {
  top: 391.5px;
}
.card-query-child14 {
  top: 415px;
  left: 31.54px;
}
.id {
  position: absolute;
  left: 32px;
}
.id,
.name,
.number {
  top: 81px;
  display: inline-block;
  width: 86px;
  height: 27px;
}
.name {
  position: absolute;
  left: 215px;
}
.number {
  left: 403px;
}
.b7,
.number,
.points1 {
  position: absolute;
}
.points1 {
  top: 81px;
  left: 606px;
  display: inline-block;
  width: 86px;
  height: 27px;
}
.b7 {
  top: 1px;
  left: 0;
}
.b8,
.b9,
.lahaylahay-d-dr {
  position: absolute;
  top: 0;
  left: 130px;
}
.b8,
.b9 {
  left: 355px;
}
.b9 {
  left: 577px;
}

.container,
.group,
.parent {
  position: absolute;
  top: 111px;
  left: 66px;
  width: 591px;
  height: 21px;
}

.container,
.group {
  top: 136px;
}

.container {
  top: 159px;
}

.card-query {
  position: relative;
  background-color: var(--color-cornsilk);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-catamaran);
}
