.Background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FCF4D7;
}
.loginArea{
    position: absolute;
    background-color: #EED2AC;
    width: 90vw;
    height: 80vh;
    top: 17vh;
    left: 5vw;
    border-radius: var(--br-11xl);
}
.logobg{
    position: absolute;
    margin: 0;
    left: 5vw;
    transform: scaleX(-1);
    width: 40vw;
}
.logobg2{
    position: absolute;
    margin: 0;
    left: 45vw;
    width: 40vw;
}
.Header{
    position: absolute;
    font-family: var(--font-catamaran);
    color: #9D6532;
    font-size: 5em;
}
.Bb{
    position: absolute;
    left: 30vw;
    top: 5vh;
}
.dots{
    position: absolute;
    left: 42vw;
    top: 10h;
    width: 10vw;
}
.login,.Num, .passw{
    position: absolute;
    background-color: #AD845B;
    border: 0.2vw solid #603A22 ;
    height: 5vh;
    width: 20vw;
    border-radius: var(--br-11xl);
}
.login{
    top: 35vh;
    left: 39%;
}
.form{
    position: absolute;
    margin: 0;
    color: #EED2AC;
    top: 1vh;
    left: 30%;
}
.Num{
    top: 42vh;
    left: 39%;
}
.passw{
    top: 49vh;
    left: 39%;
}
.passwo{
    position: absolute;
    margin: 0;
    color: #EED2AC;
    top: 1vh;
    left: 37%;
}
.Activatebutton{
    position: absolute;
    background-color: #AFC172;
    border: 0.2vw solid #808465;
    top: 60vh;
    left: 40vw;
    height: 7vh;
    width: 10vw;
    border-radius: var(--br-3xs);
}
.activ{
    position: absolute;
    color: #428041;
    font-family: var(--font-titillium-web);
    left: 2.9vw;
    top: 1vh;
}
.font{
    position: absolute;
    color: black;
    bottom: 10vh;
}
.fontline{
    position: absolute;
    font-family: var(--font-catamaran);
    width: 20vw;
    left: 35vw;
}
.intheline{
    position: absolute;
    font-family: var(--font-catamaran);
    width: 20vw;
    left: 52.5vw;
    text-decoration: underline;
    color: #004AAD;
    font-weight: bold;
}