.CheckOut{
    position: fixed;
    top: 12vh;
    left: 2vw;
    border: 0.2vw dashed var(--color-dimgray-200);
    background-color: #E2C7A1;
    border-radius:var(--br-11xl);
    height: 85vh;
    width: 95.5vw;
  }
  .picture{
    position: absolute;
    width: 29.9vw;
    height: 85vh;
    border-right: 0.2vw dashed#7F664F;
    background-color: #E2C7A1;
    border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  }
  .CheckList{
    position: absolute;
    top: 8.5vh;
    left: 30vw;
    width: 65.5vw;
    height: 55.5vh;
    /* background-color: black; */
    background-color: #E2C7A1;
    /* border-radius: 0 var(--br-11xl) 0 0; */
    border-bottom: 0.2vw dashed#7F664F;
  }
  .logo{
    position: absolute;
    top: 11vh;
    width: 25vw;
  }
  .List{
    position: absolute;
    top: 2vh;
    left: 31.5vw;
    color: #7e542d;
    font-size: 2em;
  }
  
  /* table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .format{
    width: 6vw;
    text-align: center;
    color: var(--color-saddlebrown-100);
    background-color: transparent;
  }
  .format1{
    width: 3vw;
    text-align: center;
    color: var(--color-saddlebrown-100);
    background-color: transparent;
  }
  .format2{
    width: 6vw;
    padding: 8px;
    text-align: center;
    color: transparent;
    color: var(--color-sienna-300);
    background-color: transparent;
  }
  .format3{
    width: 3vw;
    padding: 8px;
    text-align: center;
    color: transparent;
    color: var(--color-sienna-300);
    background-color: transparent;
  }
  .AllTotal{
    top: 67vh;
    left: 31vw;
    position: absolute;
    color: #7F664F;
    font-size: 1.5em;
    font-weight: bold;
  }
  .totalBox{
    position: absolute;
    top: 67vh;
    left: 36vw;
    background-color: cornsilk;
    border: 0.1vw solid#7F664F;
    height: 5vh;
    width: 15vw;
    border-radius: var(--br-8xs);
  }
  .total{
    position: absolute;
    margin: 0;
    top: 0.5vh;
    left: 1vw;
    font-family: var(--font-catamaran);
  }
  .bobac{
    position: absolute;
    top: 71vh;
    left: 31vw;
  }
  .bobac1{
    position: absolute;
    top: 76vh;
    left: 31vw;
  }
  .bobac2{
    position: absolute;
    top: 73.6vh;
    left: 37vw;
    background-color: transparent;
    /* border: 0.1vw solid#7F664F; */
    height: 4.5vh;
    width: 20vw;
    border-radius: var(--br-8xs);
  }
  .bobac3{
    position: absolute;
    top: 78.5vh;
    left: 39.5vw;
    background-color: transparent;
    /* border: 0.1vw solid#7F664F; */
    height: 4.5vh;
    width: 20vw;
    border-radius: var(--br-8xs);
  }
  