.quantity-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quantity-slider input[type="number"] {
    width: 15px;
    text-align: center;
    -moz-appearance: textfield;
    background-color: transparent;
    border: none;
}

.quantity-slider input[type="number"]::-webkit-inner-spin-button, .quantity-slider input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td {
    text-align: center;
    vertical-align: middle;
}