/* background */
.bg{
  background-color: var(--color-lightcoral-100);
}

/* right side na area */
.cashbox{
  position: absolute;
  top: 10vh;
  left: 2vw;
  background-color: var(--color-tan-400);
  border: 0.1vw dashed var(--color-dimgray-200);
  border-radius: var(--br-11xl);
  width: 14vw;
  height: 16vh;
}
.cash{
  position: absolute;
  top: 5.5vh;
  left: 3.5vw;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  color: var(--color-saddlebrown-100);
  font-size: 6vh;
}
.Gcashbox{
  position: absolute;
  top: 10vh;
  left: 17vw;
  background-color: var(--color-tan-400);
  border: 0.1vw dashed var(--color-dimgray-200);
  border-radius: var(--br-11xl);
  width: 14vw;
  height: 16vh;
}
.Gcash{
  position: absolute;
  top: 5.5vh;
  left: 1vw;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  color: var(--color-saddlebrown-100);
  font-size: 5vh;
}
.Paymayabox{
  position: absolute;
  top: 10vh;
  left: 32vw;
  background-color: var(--color-tan-400);
  border: 0.1vw dashed var(--color-dimgray-200);
  border-radius: var(--br-11xl);
  width: 14vw;
  height: 16vh;
}
.Paymaya{
  position: absolute;
  top: 5.5vh;
  left: 2vw;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-base);
  color: var(--color-saddlebrown-100);
  font-size: 5vh;
}

/* Asking for your Bobocard */
.Bobacardbox{
  position: absolute;
  top: 49vh;
  background-color: var(--color-tan-100);
  /* background-color: black; */
  border-top: 0.5vw dashed var(--color-tan-300);
  border-radius:0 0 var(--br-3xs) var(--br-3xs);
  width: 100%;
  height: 30vh;
}
.asking{
  position: absolute;
  top: 1vh;
  left: 1vw;
  color: var(--color-dimgray-200);
  font-family:var(--font-raleway);
  font-size: large;
}
.for{
  position: absolute;
  top: 3vh;
  left: 5vw;
  color: var(--color-dimgray-200);
  font-family:var(--font-catamaran);
  font-size: 1em;
}
.your{
  position: absolute;
  top: 11vh;
  left: 3vw;
  color: var(--color-dimgray-200);
  font-family:var(--font-raleway);
  font-size: large;
}
.Boba{
  top: 15vh;
  left: 5vw;
  position: absolute;
  height: 5vh;
  width: 30vw;
  background-color: cornsilk;
  border: 0.2vw solid var(--color-tan-300);
  border-radius: var(--br-3xs);
}
.Bob{
  position: absolute;
  margin: 0;
  top: 1vh;
  left: 2vh;
  color: var(--color-tan-400);
}
.pass{
  position: absolute;
  margin: 0;
  top: 1vh;
  left: 2vh;
  color: var(--color-tan-400);
}
.Card{
  top: 21vh;
  left: 5vw;
  position: absolute;
  height: 5vh;
  width: 30vw;
  background-color: cornsilk;
  border: 0.2vw solid var(--color-tan-300);
  border-radius: var(--br-3xs);
}
/* logo ug caption */
.logo3{
  left: 45vw;
  width: 24.5vh;
  }
  .ang-caption2{
  top: 16vh;
  left: 45vw;
  width: 20%;
  }
  .logo3, .ang-caption2{
    position: absolute;
  }

/* ------------------------------------- */
.final-payment-child {
  position: absolute;
  top: 56px;
  left: 310px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-tan-100);
  width: 426px;
  height: 328px;
}
.final-payment-child1,
.final-payment-inner,
.final-payment-item {
  position: absolute;
  top: 89px;
  left: 318px;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-100);
  width: 72px;
  height: 62px;
}
.final-payment-child1,
.final-payment-inner {
  left: 400px;
}
.final-payment-child1 {
  left: 482px;
}

.paymaya {
  position: absolute;
  top: 110px;
  display: inline-block;
  width: 90px;
  height: 19px;
}

.paymaya {
  left: 474px;
}
.rectangle-icon {
  position: absolute;
  top: 56px;
  left: 310px;
  width: 426px;
  height: 24px;
}
.ang-caption-icon,
.beverages-2-3 {
  position: absolute;
  top: 321px;
  left: 623px;
  width: 117px;
  height: 88px;
  object-fit: cover;
}
.beverages-2-3 {
  top: 266px;
  left: 651px;
  width: 61px;
  height: 89px;
}
.b16 {
  position: absolute;
  top: 93px;
  left: 235px;
  display: none;
  width: 35px;
  height: 9px;
}
.b17,
.do-you-have {
  position: absolute;
  top: 255px;
  left: 319px;
  display: inline-block;
  width: 142px;
  height: 23px;
}
.b17 {
  top: 201px;
  left: 235px;
  display: none;
  width: 35px;
  height: 9px;
}
.order-rectangle-13,
.order-rectangle-18 {
  position: absolute;
  top: 0;
  left: 0.01px;
  background-color: var(--color-bisque-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-13 {
  top: 189px;
  left: 0;
  background-color: var(--color-tan-100);
}
.order-rectangle-15,
.order-rectangle-17,
.order-rectangle-20,
.order-rectangle-21,
.order-rectangle-23,
.order-rectangle-5,
.order-rectangle-6 {
  position: absolute;
  top: 54px;
  left: 0.01px;
  background-color: var(--color-bisque-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-15,
.order-rectangle-17,
.order-rectangle-21,
.order-rectangle-23,
.order-rectangle-5,
.order-rectangle-6 {
  top: 81px;
  background-color: var(--color-tan-100);
}
.order-rectangle-15,
.order-rectangle-17,
.order-rectangle-23,
.order-rectangle-5,
.order-rectangle-6 {
  top: 243px;
  left: 0;
}
.order-rectangle-17,
.order-rectangle-23,
.order-rectangle-5,
.order-rectangle-6 {
  top: 108px;
  left: 0.01px;
  background-color: var(--color-bisque-100);
}
.order-rectangle-17,
.order-rectangle-5,
.order-rectangle-6 {
  top: 270px;
  left: 0;
}
.order-rectangle-5,
.order-rectangle-6 {
  top: 162px;
  left: 0.01px;
}
.order-rectangle-6 {
  top: 216px;
}
.order-rectangle-18-parent {
  position: absolute;
  top: 41px;
  left: 31.99px;
  width: 260.02px;
  height: 297px;
}
.order-rectangle-19 {
  position: absolute;
  top: 168px;
  left: 32px;
  background-color: var(--color-tan-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.order-rectangle-7 {
  position: absolute;
  top: 329.5px;
  left: 31.5px;
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 261px;
  height: 108px;
}
.beverages-2-5 {
  position: absolute;
  top: 333.22px;
  left: 38.95px;
  width: 74.43px;
  height: 71.6px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 404.82px;
  left: 32px;
  background-color: var(--color-tan-400);
  width: 260px;
  height: 32.18px;
}
.frame-child1,
.frame-inner,
.frame-item {
  position: absolute;
  top: 371.83px;
  left: 218.56px;
  border-radius: var(--br-8xs);
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 65.5px;
  height: 23.33px;
}
.frame-child1,
.frame-inner {
  top: 410.45px;
  left: 122.31px;
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  width: 78.4px;
  height: 21.72px;
}
.frame-child1 {
  left: 207.65px;
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  cursor: pointer;
}
.back {
  top: 413px;
  left: 134px;
  color: var(--color-white);
  width: 56.56px;
  height: 12.87px;
  cursor: pointer;
}
.b18,
.back,
.continue,
.total {
  position: absolute;
  display: inline-block;
}
.continue {
  top: 413px;
  left: 219px;
  color: var(--color-white);
  width: 56.56px;
  height: 12.87px;
  cursor: pointer;
}
.b18,
.total {
  top: 373.86px;
  left: 233.45px;
  width: 35.73px;
  height: 16.09px;
}
.total {
  top: 376.66px;
  left: 163.98px;
  width: 43.66px;
  height: 14.48px;
}
.order-rectangle-22 {
  position: absolute;
  top: 276px;
  left: 32px;
  background-color: var(--color-tan-100);
  border-bottom: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 260.01px;
  height: 27.5px;
}
.chocolate,
.hokkaido,
.hokkaido1,
.matcha {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 127.82px;
  height: 20px;
}
.chocolate,
.hokkaido,
.hokkaido1 {
  top: 25px;
  left: 7.81px;
}
.hokkaido,
.hokkaido1 {
  top: 53px;
  left: 6.83px;
}
.hokkaido1 {
  top: 82px;
  left: 7.81px;
}
.b19,
.matcha-parent {
  position: absolute;
  top: 0;
}
.matcha-parent {
  left: 0;
  width: 135.62px;
  height: 102px;
  font-size: var(--font-size-base);
}
.b19 {
  width: 34.15px;
}
.b19,
.b20,
.b21 {
  left: 0;
  display: inline-block;
  height: 9px;
}
.b20 {
  position: absolute;
  top: 26px;
  width: 34.15px;
}
.b21 {
  top: 54px;
}
.b21,
.b22,
.frame-div {
  position: absolute;
  width: 34.15px;
}
.b22 {
  top: 84px;
  left: 0;
  display: inline-block;
  height: 9px;
}
.frame-div {
  top: 1px;
  left: 227.34px;
  height: 93px;
}
.quantity-4 {
  position: absolute;
  top: 27px;
  box-sizing: border-box;
}
.quantity-1,
.quantity-2,
.quantity-4 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  width: 48.78px;
  height: 17px;
}
.quantity-1 {
  position: absolute;
  top: 1px;
  box-sizing: border-box;
}
.quantity-2 {
  top: 83px;
}
.circle,
.circle1,
.quantity-2,
.quantity-5 {
  position: absolute;
  box-sizing: border-box;
}
.quantity-5 {
  top: 56px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-bisque-100);
  border: 1px solid var(--color-tan-300);
  width: 48.78px;
  height: 17px;
}
.circle,
.circle1 {
  top: 3.5px;
  left: 34.15px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  width: 11.71px;
  height: 12px;
}
.circle1 {
  left: 2.93px;
}
.b23,
.b24 {
  position: absolute;
  top: 0;
  left: 6.83px;
  display: inline-block;
  width: 3.9px;
}
.b24 {
  left: 36.59px;
  width: 6.83px;
}
.circle2,
.circle3 {
  position: absolute;
  top: 29.5px;
  left: 34.15px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  box-sizing: border-box;
  width: 11.71px;
  height: 12px;
}
.circle3 {
  left: 2.93px;
}
.b25,
.b26 {
  position: absolute;
  top: 26px;
  left: 6.83px;
  display: inline-block;
  width: 3.9px;
}
.b26 {
  left: 36.59px;
  width: 6.83px;
}
.circle4,
.circle5 {
  position: absolute;
  top: 58.5px;
  left: 34.15px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  box-sizing: border-box;
  width: 11.71px;
  height: 12px;
}
.circle5 {
  left: 2.93px;
}
.b27,
.b28 {
  position: absolute;
  top: 55px;
  left: 6.83px;
  display: inline-block;
  width: 3.9px;
}
.b28 {
  left: 36.59px;
  width: 6.83px;
}
.circle6,
.circle7 {
  position: absolute;
  top: 85.5px;
  left: 34.15px;
  border-radius: 50%;
  background-color: var(--color-peachpuff-200);
  border: 1px solid var(--color-tan-200);
  box-sizing: border-box;
  width: 11.71px;
  height: 12px;
}
.circle7 {
  left: 2.93px;
}
.b29,
.b30,
.b31,
.b32,
.b33,
.b34 {
  position: absolute;
  top: 82px;
  left: 6.83px;
  display: inline-block;
  width: 3.9px;
}
.b30,
.b31,
.b32,
.b33,
.b34 {
  left: 36.59px;
  width: 6.83px;
}
.b31,
.b32,
.b33,
.b34 {
  top: 0;
  left: 22.44px;
  width: 4.88px;
}
.b32,
.b33,
.b34 {
  top: 26px;
  left: 21.47px;
}
.b33,
.b34 {
  top: 55px;
  left: 20.49px;
  width: 5.85px;
}
.b34 {
  top: 81px;
}
.quantity-4-parent {
  position: absolute;
  top: 1px;
  left: 173.67px;
  width: 48.78px;
  height: 102px;
}
.x,
.x-circle {
  position: absolute;
}
.x-circle {
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightcoral-100);
  border: 1px solid var(--color-lightcoral-200);
  box-sizing: border-box;
  width: 13.66px;
  height: 14px;
}
.x {
  top: 0;
  left: 3.41px;
  display: inline-block;
  width: 6.83px;
}
.x-circle-group,
.x-circle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.66px;
  height: 20px;
}
.x-circle-group {
  top: 26px;
}
.frame-container,
.x-circle-container,
.x-circle-parent1 {
  position: absolute;
  top: 53px;
  left: 0;
  width: 13.66px;
  height: 20px;
}
.frame-container,
.x-circle-parent1 {
  top: 81px;
}
.frame-container {
  top: 1px;
  left: 267.34px;
  height: 101px;
  color: var(--color-white);
}
.b35,
.ellipse-div {
  position: absolute;
  top: 0;
}
.ellipse-div {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.b35 {
  left: 4.88px;
  display: inline-block;
  width: 7.81px;
}
.ellipse-parent {
  position: absolute;
  top: 81px;
  left: 0;
  width: 18.54px;
  height: 20px;
}
.l,
.large {
  position: absolute;
  top: 52px;
}
.large {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.l {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-child2,
.s {
  position: absolute;
  top: 0;
}
.frame-child2 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.s {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-child3,
.m {
  position: absolute;
  top: 26px;
}
.frame-child3 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.m {
  left: 25.37px;
  display: inline-block;
  width: 9.76px;
}
.frame-child4,
.s1 {
  position: absolute;
  top: 81px;
}
.frame-child4 {
  left: 21.47px;
  border-radius: 50%;
  background-color: var(--color-wheat-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 18.54px;
  height: 17px;
}
.s1 {
  left: 27.32px;
  display: inline-block;
  width: 6.83px;
}
.frame-parent1,
.frame-wrapper {
  position: absolute;
  top: 1px;
  left: 114.16px;
  width: 40px;
  height: 101px;
}
.frame-wrapper {
  top: 0;
  left: 0;
  width: 281px;
  height: 103px;
}
.order-rectangle-19-parent {
  position: absolute;
  top: -99px;
  left: 0;
  width: 292.01px;
  height: 437px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 46px;
  left: 286px;
  background-color: var(--color-gainsboro);
  width: 3px;
  height: 154px;
}
.frame-child6 {
  top: 178px;
  border-radius: var(--br-31xl);
  background-color: var(--color-tan-500);
  height: 22px;
}
.frame-parent {
  position: absolute;
  top: 51px;
  left: -8px;
  width: 292.01px;
  height: 338px;
}
.final-payment-child2,
.final-payment-child3,
.order-area {
  position: absolute;
  top: 23px;
  left: -5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 301px;
  height: 42px;
}
.final-payment-child3,
.order-area {
  top: 8px;
  left: 284px;
  width: 116px;
}
.order-area {
  top: 56px;
  left: 24px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-tan-100);
  width: 260px;
  height: 41px;
}
.mode-of-payment {
  position: absolute;
  top: 56px;
  left: 422px;
  font-size: var(--font-size-sm);
  display: inline-block;
  color: var(--color-peachpuff-100);
  width: 189px;
  height: 17px;
}
.final-payment-child4 {
  position: absolute;
  top: 239px;
  left: 308px;
  border-top: 4px dashed var(--color-burlywood-200);
  box-sizing: border-box;
  width: 430px;
  height: 4px;
}
.booba,
.if-you-have {
  position: absolute;
  display: inline-block;
}
.if-you-have {
  top: 271px;
  left: 330px;
  font-size: var(--font-size-3xs);
  width: 327px;
  height: 20px;
}
.booba {
  top: 293px;
  left: 319px;
  width: 90px;
  height: 19px;
}
.final-payment-child5,
.final-payment-child6 {
  position: absolute;
  top: 317px;
  left: 333px;
  border-radius: var(--br-8xs);
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 257px;
  height: 27px;
}
.final-payment-child6 {
  top: 346px;
  left: 332px;
}
.password1,
.type-in-your {
  position: absolute;
  top: 322px;
  left: 343px;
  font-size: var(--font-size-3xs);
  color: var(--color-burlywood-400);
  text-align: left;
  display: inline-block;
  width: 206px;
}
.password1 {
  top: 352px;
  width: 131px;
}
.beverages-2-42,
.final-payment-child7 {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
}
.final-payment-child7 {
  background-color: var(--color-dimgray-200);
  width: 746px;
}
.beverages-2-42 {
  width: 32px;
  object-fit: cover;
  cursor: pointer;
}
.b36 {
  font-family: var(--font-catamaran);
}
.bobastic2 {
  position: absolute;
  top: 15px;
  left: 16px;
  text-decoration: underline;
  display: inline-block;
  width: 97px;
  height: 26px;
  cursor: pointer;
}
.beverages-2-4-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 41px;
  font-size: var(--font-size-sm);
  color: var(--color-tan-100);
  font-family: var(--font-league-spartan);
}
.order {
  position: absolute;
  top: 15px;
  left: 188px;
  font-size: var(--font-size-mini);
  display: inline-block;
  color: var(--color-cornsilk);
  width: 72px;
  height: 17px;
  cursor: pointer;
}
.final-payment-child8 {
  position: absolute;
  top: 7px;
  left: 284px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 116px;
  height: 42px;
}
.check-out,
.payment {
  position: absolute;
  top: 14px;
  left: 305px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 72px;
  height: 17px;
}
.check-out {
  left: 422px;
  color: var(--color-cornsilk);
}
.final-payment {
  position: relative;
  background-color: var(--color-cornsilk);
  width: 100%;
  height: 398px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
  font-family: var(--font-catamaran);
}
.order-rectangle-11,
.order-rectangle-111 {
  position: absolute;
  top: 8.5px;
  left: 5.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 277px;
  height: 55px;
}
.order-rectangle-111 {
  top: 66.5px;
  background-color: var(--color-bisque-100);
  height: 27px;
}
.please-enter-your {
  position: absolute;
  top: 23px;
  left: calc(50% - 111.5px);
}
.cash-payment-child {
  position: absolute;
  top: 97px;
  left: 197px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.proceed {
  position: absolute;
  top: 102px;
  left: 208px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
}
.cash-payment-item {
  position: absolute;
  top: 97px;
  left: 23px;
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 102px;
  left: 35px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 57px;
  height: 16px;
}
.please-input-cash {
  position: absolute;
  top: 23px;
  left: calc(50% - 80.5px);
}
.cancel1,
.proceed1 {
  position: absolute;
  top: 102px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
  cursor: pointer;
}
.proceed1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 208px;
  font-weight: 700;
  font-family: var(--font-catamaran);
}
.cancel1 {
  left: 35px;
}
.cash-payment {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 289px;
  height: 133px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-catamaran);
}
.order-rectangle-112,
.order-rectangle-113 {
  position: absolute;
  top: 8.5px;
  left: 5.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 277px;
  height: 55px;
}
.order-rectangle-113 {
  top: 66.5px;
  background-color: var(--color-bisque-100);
  height: 27px;
}
.please-enter-your1 {
  position: absolute;
  top: 23px;
  left: calc(50% - 111.5px);
}
.paymaya-payment-child {
  position: absolute;
  top: 97px;
  left: 197px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.proceed2 {
  position: absolute;
  top: 102px;
  left: 208px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
}
.paymaya-payment-item {
  position: absolute;
  top: 97px;
  left: 23px;
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.cancel2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 35px;
  font-weight: 700;
  font-family: var(--font-catamaran);
}
.cancel2,
.cancel3,
.proceed3 {
  position: absolute;
  top: 102px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 57px;
  height: 16px;
  cursor: pointer;
}
.proceed3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 208px;
  font-weight: 700;
  font-family: var(--font-catamaran);
}
.cancel3 {
  left: 35px;
}
.paymaya-payment {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 289px;
  height: 133px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-catamaran);
}
.order-rectangle-114,
.order-rectangle-115 {
  position: absolute;
  top: 8.5px;
  left: 5.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-100);
  border: 1px solid var(--color-tan-300);
  box-sizing: border-box;
  width: 277px;
  height: 55px;
}
.order-rectangle-115 {
  top: 66.5px;
  background-color: var(--color-bisque-100);
  height: 27px;
}
.please-type-in-g-cash {
  position: absolute;
  top: 23px;
  left: 75px;
}
.gcash-payment-child {
  position: absolute;
  top: 97px;
  left: 197px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.proceed4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 102px;
  left: 208px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-catamaran);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 57px;
  height: 16px;
}
.gcash-payment-item {
  position: absolute;
  top: 97px;
  left: 23px;
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna-100);
  border: 2px solid var(--color-sienna-300);
  box-sizing: border-box;
  width: 79px;
  height: 27px;
}
.cancel4,
.gcash-payment {
  font-family: var(--font-catamaran);
}
.cancel4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 102px;
  left: 35px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 57px;
  height: 16px;
}
.gcash-payment {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornsilk);
  width: 289px;
  height: 133px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
}
