<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href = "/assets/FINALORDER.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/global.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/orderarea.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/upperdesign.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/orderlist.css" rel="stylesheet" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium Web:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
    <script src="/assets/orderlist.js"></script>
  </head>
  <body>
      <!-- upper design to homepage -->
      
      <div class="Bgupper">
          <img
            class="beverageslogo"
            alt=""
            src="/beverages-2-4@2x.png"
            id="beverages24"
          />
        <div class="bobasticlink" id="bOBASTICText">
          <b>BOBASTIC</b>
        </div>
        <div class="tab">
          <b class="order1">Order</b>
        </div>
        <b class="check-out1">Check-out</b>
        <b class="payment1">Payment</b>
      </div>

      <!-- order area sa left side -->
      <div class ="orderBg">
        <div class = "orderList" id="TableContainer">
          <div class="boderOrder">
              
            <table id="orderTable">
              <thead>
                <tr class = "orderth">
                  <th class="orderth">Product</th>
                  <th class="orderth">Size</th>
                  <th class="orderth">Extra</th>
                  <th class="orderth">Quantity</th>
                  <th class="orderth">Unit Price</th>
                  <th class="orderth">Total Price</th>
                  <th class="orderth"> </th>
                </tr>
              </thead>
              <tbody id="otBody">
              </tbody>
            </table>

        </div>
        </div>
        
         <!-- order box area -->
        <div class="orderbox"> 
          <button class="paybox" id="PayButton">
            <p class="pay" id="payText">Pay</p>
          </button>

          <div class="totalbox"></div>
          <b class="b39" id="totalprice">1,073.0 </b>
          <p class="total1" id="TotalInput">Total</p>
          <!-- Clear box -->
          <button class="clearbox" id ="Clearbutton" onclick="clearTable()">
            <p class="clear">Clear</p>
          </button>

          <!-- add box -->
          <button class="addbox" id="Addbutton">
            <p class="add" onclick="addOrders()">Add</p>
          </button>
        </div> 
        
      </div>

      <!-- Menu area -->
      <div class="menuBg">
        <!-- <img class="menuborder" alt="" src="/rectangle-82.svg" /> -->
        <div class ="menuborder">
          <b class="drinks">Drinks</b>
          <b class="size">Size</b>
          <b class="food">Food</b>
        </div>
        <!-- drink -->
        <button class="box1" id="Chocolate" onclick="addRow('Chocolate', 'drink')">
          <b class="chocolate">Chocolate</b>
        </button>

        <button class="box2" id="Strawberry" onclick="addRow('Strawberry', 'drink')">
          <b class="strawberry">Strawberry</b>
        </button>

        <button class="box3" id="Matcha" onclick="addRow('Matcha', 'drink')">
          <b class="matcha">Matcha </b>
        </button>

        <button class="box4" id="Hokkaido" onclick="addRow('Hokkaido', 'drink')">
          <b class="hokkaido">Hokkaido</b>
        </button>

        <button class="box5" id="Blueberry" onclick="addRow('Blueberry', 'drink')">
          <b class="blueberry">Blueberry</b>
        </button>

        <button class="box6" id="DarkM" onclick="addRow('Dark Mocha', 'drink')">
          <b class="first">Dark</b>
          <b class="second">Mocha</b>
        </button>

        <button class="box7" id="RedV" onclick="addRow('Red Velvet', 'drink')">
          <b class="red-velvet">Red Velvet</b>
        </button>

        <button class="box8" id="BrownS" onclick="addRow('Brown Sugar', 'drink')">
          <b class="brown">Brown</b>
          <b class="sugar">Sugar</b>
        </button>

        <!-- size -->
        <b class="extra">EXTRA</b>

        <button class="box9" id="Lsize" onclick="addSize('L')">
          <b class="sizes">Large</b>
        </button>

        <button class="box10" id="Msize" onclick="addSize('M')">
          <b class="medium">Medium</b>
        </button>

        <button class="box11" id="Ssize" onclick="addSize('S')">
          <b class="sizes">Small</b>
        </button>

        <button class="box12" id="Extra" onclick="addBoba()">
          <b class="esizes">Boba</b>
        </button>

        <img class="logo2" alt="" src="beverages-2-31@2x.png" />
        <img class="ang-caption" alt="" src="ang-caption@2x.png" />

        <!-- food -->
        <button class="box13" id="CinnD" onclick="addRow('Cinn Danish', 'food')">
          <b class="cinn-danish">Cinn Danish</b>
        </button>

        <button class="box14" id="CinnB" onclick="addRow('Cinn Bun', 'food')">
          <b class="cinn-bun">Cinn Bun</b>
        </button>

        <button class="box15" id="Sausage" onclick="addRow('Sausage Roll', 'food')">
          <b class="first">Sausage</b>
          <b class="second">Roll</b>
        </button>

        <button class="box16" id="Flatbread" onclick="addRow('Flatbread', 'food')">
          <b class="flatbread">Flatbread</b>
        </button>

        <button class="box17" id="TunaPan" onclick="addRow('Tuna Pandesal', 'food')">
          <b class="first">Tuna</b>
          <b class="second">Pandesal</b>
        </button>

        <button class="box18" id="FrenchC" onclick="addRow('French Butter Croissant', 'food')">
          <b class="first1">French Butter</b>
          <b class="second">Croissant</b>
        </button>

        <button class="box19" id="MacCookie" onclick="addRow('Macademia Cookie', 'food')">
          <b class="brown">Macademia</b>
          <b class="sugar">Cookie</b>
        </button>

        <button class="box20" id="Donut" onclick="addRow('Donut', 'food')">
          <b class="brown">Chocolate</b>
          <b class="sugar">Donut</b>
        </button>

      <script type="text/javascript" src="/assets/home.js"></script>
  </body>
</html>