<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href = "../public/assets/FINALORDER.css" rel="stylesheet" type="text/css"/>
    <link href = "../public/assets/global.css" rel="stylesheet" type="text/css"/>
    <link href = "../public/assets/orderarea.css" rel="stylesheet" type="text/css"/>
    <link href = "../public/assets/upperdesign.css" rel="stylesheet" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium Web:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
  </head>
  <body>
      <!-- upper design to homepage -->
      
      <div class="Bgupper">
        <img
          class="beverageslogo"
          alt=""
          src="../public/beverages-2-4@2x.png"
          id="beverages24"
        />
        <div class="bobasticlink" id="bOBASTICText">
          <b>BOBASTIC</b>
        </div>
        <div class="tab">
          <b class="order1">Order</b>
        </div>
        <b class="check-out1">Check-out</b>
        <b class="payment1">Payment</b>
      </div>

      <!-- order area sa left side -->
      <div class ="orderBg">
        <img
          class ="delete"
          src="../public/x.png"
          alt=""
          id="deletebutton"/>
        <!-- order box area -->
        <div class="orderbox"> 
          <div class="paybox" id="rectangle15">
            <p class="pay" id="payText">Pay</p>
          </div>

          <div class="totalbox"></div>
          <b class="b39">1,073.0 </b>
          <p class="total1">Total</p>
          <!-- Clear box -->
          <div class="clearbox">
            <p class="clear">Clear</p>
          </div>

          <!-- add box -->
          <div class="addbox">
            <p class="add">Add</p>
          </div>
        </div> 
        
      </div>

      <!-- Menu area -->
      <div class="menuBg">
        <!-- <img class="menuborder" alt="" src="../public/rectangle-82.svg" /> -->
        <div class ="menuborder">
          <b class="drinks">Drinks</b>
          <b class="size">Size</b>
          <b class="food">Foods</b>
        </div>
        <!-- drink -->
        <div class="box1">
          <b class="chocolate">Chocolate</b>
        </div>
        <div class="box2">
          <b class="strawberry">Strawberry</b>
        </div>
        <div class="box3">
          <b class="matcha">Matcha </b>
        </div>
        <div class="box4">
          <b class="hokkaido">Hokkaido</b>
        </div>
        <div class="box5">
          <b class="blueberry">Blueberry</b>
        </div>
        <div class="box6">
          <b class="first">Dark</b>
          <b class="second">Mocha</b>
        </div>
        <div class="box7">
          <b class="red-velvet">Red Velvet</b>
        </div>
        <div class="box8">
          <b class="brown">Brown</b>
          <b class="sugar">Sugar</b>
        </div>

        <div class="quantityboxsample">
          <img
            class ="plus" 
            src="../public/plus.png" 
            alt="" 
            id ="plusminus"
          />
          <img
            class ="minus" 
            src="../public/minus.png" 
            alt="" 
            id ="minusplus"
          />
      </div>

        <!-- size -->
        <b class="extra">EXTRA</b>
        <div class="box9">
          <b class="sizes">Large</b>
        </div>
        <div class="box10">
          <b class="medium">Medium</b>
        </div>
        <div class="box11">
          <b class="sizes">Small</b>
        </div>
        <div class="box12">
          <b class="esizes">Boba</b>
        </div>
        <img class="logo2" alt="" src="../public/beverages-2-31@2x.png" />
        <img class="ang-caption" alt="" src="../public/ang-caption@2x.png" />

        <!-- food -->
        <div class="box13">
          <b class="cinn-danish">Cinn Danish</b>
        </div>
        <div class="box14">
          <b class="cinn-bun">Cinn Bun</b>
        </div>
        <div class="box15">
          <b class="first">Sausage</b>
          <b class="second">Roll</b>
        </div>
        <div class="box16">
          <b class="flatbread">Flatbread</b>
        </div>
        <div class="box17">
          <b class="first">Tuna</b>
          <b class="second">Pandesal</b>
        </div>
        <div class="box18">
          <b class="first1">French Butter</b>
          <b class="second">Croissant</b>
        </div>
        <div class="box19">
          <b class="brown">Macademia</b>
          <b class="sugar">Cookie</b>
        </div>
        <div class="box20">
          <b class="brown">Chocolate</b>
          <b class="sugar">Donut</b>
        </div>
        <div class="quantityboxsample2">
          <img
            class ="plus" 
            src="../public/plus.png" 
            alt="" 
            id ="plusminus"
          />
          <img
            class ="minus" 
            src="../public/minus.png" 
            alt="" 
            id ="minusplus"
          />

      </div>

    <script>
      var popuprectangle8 = document.getElementById("popuprectangle8");
      if (popuprectangle8) {
        popuprectangle8.addEventListener("click", function (e) {
          window.location.href = "./FINALCHECKOUT.ejs";
        });
      }
      
      var popupback = document.getElementById("popupback");
      if (popupback) {
        popupback.addEventListener("click", function (e) {
          window.location.href = "./FINALORDER1.ejs";
        });
      }
      
      var popupcontinue = document.getElementById("popupcontinue");
      if (popupcontinue) {
        popupcontinue.addEventListener("click", function (e) {
          window.location.href = "./FINALCHECKOUT.ejs";
        });
      }
      
      var popupbeverages24 = document.getElementById("popupbeverages24");
      if (popupbeverages24) {
        popupbeverages24.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var popupbOBASTICText = document.getElementById("popupbOBASTICText");
      if (popupbOBASTICText) {
        popupbOBASTICText.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var popuporderText = document.getElementById("popuporderText");
      if (popuporderText) {
        popuporderText.addEventListener("click", function (e) {
          window.location.href = "./FINALORDER1.ejs";
        });
      }
      
      var PayButton = document.getElementById("PayButton");
      if (PayButton) {
        PayButton.addEventListener("click", function () {
          var popup = document.getElementById("fINALPAYMENTContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var payText = document.getElementById("payText");
      if (payText) {
        payText.addEventListener("click", function (e) {
          window.location.href = "./FINALPAYMENT1.ejs";
        });
      }
      </script>

      <script type="text/javascript" src="/assets/home.js"></script>
  </body>
</html>
