<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href = "/assets/FINALORDER.css" rel="stylesheet" type="text/css"/>
    <link href = "/assets/global.css" rel="stylesheet" type="text/css"/>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium Web:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="final-order">
      <div class="final-order-child"></div>
      <div class="final-order-item"></div>
      <div class="final-order-inner"></div>
      <div class="final-order-child1"></div>
      <div class="final-order-child2"></div>
      <div class="final-order-child3"></div>
      <div class="final-order-child4"></div>
      <div class="final-order-child5"></div>
      <div class="final-order-child6"></div>
      <img class="final-order-child7" alt="" src="/rectangle-82.svg" />

      <img class="beverages-2-31" alt="" src="/beverages-2-31@2x.png" />

      <div class="order-rectangle-24-parent">
        <div class="order-rectangle-24"></div>
        <div class="order-rectangle-25"></div>
        <div class="order-rectangle-26"></div>
        <div class="order-rectangle-27"></div>
        <div class="order-rectangle-28"></div>
        <div class="order-rectangle-29"></div>
        <div class="order-rectangle-30"></div>
        <div class="order-rectangle-31"></div>
        <div class="order-rectangle-32"></div>
        <div class="order-rectangle-33"></div>
        <div class="order-rectangle-34"></div>
        <div class="order-rectangle-35"></div>
      </div>
      <b class="b37">145.0</b>
      <b class="b38">145.0</b>
      <div class="final-order-child8"></div>
      <div class="frame-parent2">
        <div class="order-rectangle-18-group">
          <div class="order-rectangle-181"></div>
          <div class="order-rectangle-131"></div>
          <div class="order-rectangle-201"></div>
          <div class="order-rectangle-211"></div>
          <div class="order-rectangle-151"></div>
          <div class="order-rectangle-231"></div>
          <div class="order-rectangle-171"></div>
          <div class="order-rectangle-51"></div>
          <div class="order-rectangle-61"></div>
        </div>
        <div class="order-rectangle-19-group">
          <div class="order-rectangle-191"></div>
          <div class="order-rectangle-71"></div>
          <img
            class="beverages-2-51"
            alt=""
            src="/beverages-2-5@2x.png"
          />

          <div class="frame-child7"></div>
          <div class="frame-child8"></div>
          <div class="frame-child9"></div>
          <div class="frame-child10"></div>
          <div class="frame-child11" id="rectangle15"></div>
          <b class="clear">Clear</b>
          <b class="add">Add</b>
          <b class="pay" id="payText">Pay</b>
          <b class="b39">1,073.0 </b>
          <b class="total1">Total</b>
          <div class="order-rectangle-221"></div>
          <div class="frame-parent3">
            <div class="matcha-group">
              <b class="matcha1">Matcha </b>
              <b class="chocolate1">Chocolate</b>
              <b class="hokkaido2">Hokkaido</b>
              <b class="hokkaido3">Hokkaido</b>
            </div>
            <div class="parent1">
              <b class="b40">145.0</b>
              <b class="b41">195.0</b>
              <b class="b42">400.0</b>
              <b class="b43">333.0</b>
            </div>
            <div class="quantity-4-group">
              <div class="quantity-41"></div>
              <div class="quantity-11"></div>
              <div class="quantity-21"></div>
              <div class="quantity-51"></div>
              <div class="circle8"></div>
              <div class="circle9"></div>
              <b class="b44">-</b>
              <b class="b45">+</b>
              <div class="circle10"></div>
              <div class="circle11"></div>
              <b class="b46">-</b>
              <b class="b47">+</b>
              <div class="circle12"></div>
              <div class="circle13"></div>
              <b class="b48">-</b>
              <b class="b49">+</b>
              <div class="circle14"></div>
              <div class="circle15"></div>
              <b class="b50">-</b>
              <b class="b51">+</b>
              <b class="b52">1</b>
              <b class="b53">1</b>
              <b class="b54">2</b>
              <b class="b55">3</b>
            </div>
            <div class="frame-parent4">
              <div class="x-circle-parent2">
                <div class="x-circle4"></div>
                <b class="x4">x</b>
              </div>
              <div class="x-circle-parent3">
                <div class="x-circle4"></div>
                <b class="x4">x</b>
              </div>
              <div class="x-circle-parent4">
                <div class="x-circle4"></div>
                <b class="x4">x</b>
              </div>
              <div class="x-circle-parent5">
                <div class="x-circle4"></div>
                <b class="x4">x</b>
              </div>
            </div>
            <div class="frame-parent5">
              <div class="ellipse-group">
                <div class="frame-child12"></div>
                <b class="b56">B</b>
              </div>
              <div class="large1"></div>
              <b class="l1">L</b>
              <div class="frame-child13"></div>
              <b class="s2">S</b>
              <div class="frame-child14"></div>
              <b class="m1">M</b>
              <div class="frame-child15"></div>
              <b class="s3">S</b>
            </div>
          </div>
        </div>
        <div class="frame-child16"></div>
        <div class="frame-child17"></div>
      </div>
      <div class="final-order-child9"></div>
      <div class="order-area1"></div>
      <b class="drinks">Drinks</b>
      <b class="size">Size</b>
      <b class="size">Size</b>
      <b class="extra">EXTRA</b>
      <b class="food">Food</b>
      <b class="chocolate2">Chocolate</b>
      <b class="matcha2">Matcha</b>
      <b class="blueberry">Blueberry</b>
      <b class="red-velvet">Red Velvet</b>
      <div class="final-order-child10"></div>
      <div class="beverages-2-4-parent1">
        <img
          class="beverages-2-43"
          alt=""
          src="/beverages-2-4@2x.png"
          id="beverages24"
        />

        <div class="bobastic3" id="bOBASTICText">
          <b>BOBASTIC</b>
          <b class="b57"> </b>
        </div>
      </div>
      <div class="final-order-child11"></div>
      <button class="order1" autofocus>Order</button>
      <b class="payment1">Payment</b>
      <b class="check-out1">Check-out</b>
      <b class="brown-sugar">
        <p class="brown">Brown</p>
        <p class="brown">Sugar</p>
      </b>
      <b class="dark-mocha">
        <p class="brown">Dark</p>
        <p class="brown">Mocha</p>
      </b>
      <b class="hokkaido4">Hokkaido</b>
      <b class="strawberry">Strawberry</b>
      <div class="final-order-child12"></div>
      <div class="final-order-child13"></div>
      <div class="final-order-child14"></div>
      <div class="final-order-child15"></div>
      <b class="small">Small</b>
      <b class="medium">Medium</b>
      <b class="large2">Large</b>
      <div class="rectangle-parent">
        <div class="frame-child18"></div>
        <div class="frame-child19"></div>
        <div class="frame-child20"></div>
        <div class="frame-child21"></div>
        <div class="frame-child22"></div>
        <div class="frame-child23"></div>
        <div class="frame-child24"></div>
        <div class="frame-child25"></div>
        <b class="macadamia-cookie">
          <p class="brown">Macadamia</p>
          <p class="brown">Cookie</p>
        </b>
        <b class="chocolate-donut">
          <p class="brown">Chocolate</p>
          <p class="brown">Donut</p>
        </b>
        <b class="cinn-danish">Cinn Danish</b>
        <b class="sausage-roll">
          <p class="brown">Sausage</p>
          <p class="brown">Roll</p>
        </b>
        <b class="tuna-pandesal">
          <p class="brown">Tuna</p>
          <p class="brown">Pandesal</p>
        </b>
        <b class="french-butter-croissant">French Butter Croissant</b>
        <b class="flatbread">Flatbread</b>
        <b class="cinn-bun">Cinn Bun</b>
      </div>
      <b class="boba">Boba</b>
      <img class="ang-caption-icon1" alt="" src="/ang-caption@2x.png" />
    </div>

    <div id="fINALPAYMENTContainer" class="popup-overlay" style="display: none">
      <div class="final-payment1">
        <div class="final-payment-child9"></div>
        <div class="final-payment-child10"></div>
        <div class="final-payment-child11"></div>
        <div class="final-payment-child12"></div>
        <button class="cash1" autofocus>Cash</button>
        <button class="gcash1" autofocus>Gcash</button>
        <button class="paymaya1">Paymaya</button>
        <img
          class="final-payment-child13"
          alt=""
          src="/rectangle-82.svg"
        />

        <img
          class="ang-caption-icon2"
          alt=""
          src="/ang-caption@2x.png"
        />

        <img
          class="beverages-2-32"
          alt=""
          src="/beverages-2-3@2x.png"
        />

        <b class="b69">145.0</b>
        <b class="do-you-have1">Do you have a BobaCard?</b>
        <b class="b70">145.0</b>
        <div class="frame-parent6">
          <div class="order-rectangle-18-container">
            <div class="order-rectangle-182"></div>
            <div class="order-rectangle-134"></div>
            <div class="order-rectangle-202"></div>
            <div class="order-rectangle-212"></div>
            <div class="order-rectangle-152"></div>
            <div class="order-rectangle-232"></div>
            <div class="order-rectangle-172"></div>
            <div class="order-rectangle-52"></div>
            <div class="order-rectangle-62"></div>
          </div>
          <div class="order-rectangle-19-container">
            <div class="order-rectangle-192"></div>
            <div class="order-rectangle-72"></div>
            <img
              class="beverages-2-55"
              alt=""
              src="/beverages-2-5@2x.png"
            />

            <div class="frame-child26"></div>
            <div class="frame-child27"></div>
            <div class="frame-child28"></div>
            <div class="frame-child29" id="popuprectangle8"></div>
            <button class="back2" autofocus id="popupback">Back</button>
            <button class="continue1" autofocus id="popupcontinue">
              Continue
            </button>
            <b class="b71">1,073.0 </b>
            <b class="total3">Total</b>
            <div class="order-rectangle-222"></div>
            <div class="frame-wrapper1">
              <div class="frame-wrapper1">
                <div class="matcha-container">
                  <b class="matcha3">Matcha </b>
                  <b class="chocolate4">Chocolate</b>
                  <b class="hokkaido6">Hokkaido</b>
                  <b class="hokkaido7">Hokkaido</b>
                </div>
                <div class="parent2">
                  <b class="b72">145.0</b>
                  <b class="b73">195.0</b>
                  <b class="b74">400.0</b>
                  <b class="b75">333.0</b>
                </div>
                <div class="quantity-4-container">
                  <div class="quantity-42"></div>
                  <div class="quantity-12"></div>
                  <div class="quantity-22"></div>
                  <div class="quantity-52"></div>
                  <div class="circle16"></div>
                  <div class="circle17"></div>
                  <b class="b76">-</b>
                  <b class="b77">+</b>
                  <div class="circle18"></div>
                  <div class="circle19"></div>
                  <b class="b78">-</b>
                  <b class="b79">+</b>
                  <div class="circle20"></div>
                  <div class="circle21"></div>
                  <b class="b80">-</b>
                  <b class="b81">+</b>
                  <div class="circle22"></div>
                  <div class="circle23"></div>
                  <b class="b82">-</b>
                  <b class="b83">+</b>
                  <b class="b84">1</b>
                  <b class="b85">1</b>
                  <b class="b86">2</b>
                  <b class="b87">3</b>
                </div>
                <div class="frame-parent8">
                  <div class="x-circle-parent6">
                    <div class="x-circle8"></div>
                    <b class="x8">x</b>
                  </div>
                  <div class="x-circle-parent7">
                    <div class="x-circle8"></div>
                    <b class="x8">x</b>
                  </div>
                  <div class="x-circle-parent8">
                    <div class="x-circle8"></div>
                    <b class="x8">x</b>
                  </div>
                  <div class="x-circle-parent9">
                    <div class="x-circle8"></div>
                    <b class="x8">x</b>
                  </div>
                </div>
                <div class="frame-parent9">
                  <div class="ellipse-container">
                    <div class="frame-child30"></div>
                    <b class="b88">B</b>
                  </div>
                  <div class="large3"></div>
                  <b class="l3">L</b>
                  <div class="frame-child31"></div>
                  <b class="s6">S</b>
                  <div class="frame-child32"></div>
                  <b class="m3">M</b>
                  <div class="frame-child33"></div>
                  <b class="s7">S</b>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-child34"></div>
          <div class="frame-child35"></div>
        </div>
        <div class="final-payment-child14"></div>
        <div class="final-payment-child15"></div>
        <div class="order-area2"></div>
        <b class="mode-of-payment1">Mode of Payment</b>
        <div class="final-payment-child16"></div>
        <div class="if-you-have1">
          If you have a BobaCard, you can earn points from your purchase.
        </div>
        <b class="booba1">BobaCard</b>
        <textarea class="rectangle-textarea"> </textarea>
        <textarea
          class="final-payment-child17"
          placeholder="Password"
          autofocus
        >
        </textarea>
        <div class="type-in-your1">Type in your BobaCard / Contact Number</div>
        <div class="password4">Password</div>
        <div class="final-payment-child18"></div>
        <div class="beverages-2-4-parent5">
          <img
            class="beverages-2-47"
            alt=""
            src="/beverages-2-4@2x.png"
            id="popupbeverages24"
          />

          <div class="bobastic7" id="popupbOBASTICText">
            <b>BOBASTIC</b>
            <b class="b89"> </b>
          </div>
        </div>
        <b class="order3" id="popuporderText">Order</b>
        <div class="final-payment-child19"></div>
        <b class="payment3">Payment</b>
        <b class="check-out4">Check-out</b>
      </div>
    </div>

    <script>
      var popuprectangle8 = document.getElementById("popuprectangle8");
      if (popuprectangle8) {
        popuprectangle8.addEventListener("click", function (e) {
          window.location.href = "./FINALCHECKOUT.ejs";
        });
      }
      
      var popupback = document.getElementById("popupback");
      if (popupback) {
        popupback.addEventListener("click", function (e) {
          window.location.href = "./FINALORDER1.ejs";
        });
      }
      
      var popupcontinue = document.getElementById("popupcontinue");
      if (popupcontinue) {
        popupcontinue.addEventListener("click", function (e) {
          window.location.href = "./FINALCHECKOUT.ejs";
        });
      }
      
      var popupbeverages24 = document.getElementById("popupbeverages24");
      if (popupbeverages24) {
        popupbeverages24.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var popupbOBASTICText = document.getElementById("popupbOBASTICText");
      if (popupbOBASTICText) {
        popupbOBASTICText.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var popuporderText = document.getElementById("popuporderText");
      if (popuporderText) {
        popuporderText.addEventListener("click", function (e) {
          window.location.href = "./FINALORDER1.ejs";
        });
      }
      
      var rectangle15 = document.getElementById("rectangle15");
      if (rectangle15) {
        rectangle15.addEventListener("click", function () {
          var popup = document.getElementById("fINALPAYMENTContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var payText = document.getElementById("payText");
      if (payText) {
        payText.addEventListener("click", function (e) {
          window.location.href = "./FINALPAYMENT1.ejs";
        });
      }
      
      var beverages24 = document.getElementById("beverages24");
      if (beverages24) {
        beverages24.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var bOBASTICText = document.getElementById("bOBASTICText");
      if (bOBASTICText) {
        bOBASTICText.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      </script>
  </body>
</html>
