<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../CSS/global.css" />
    <link rel="stylesheet" href="../CSS/CARDQUERY1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium Web:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="card-query1">
      <div class="card-query-child15"></div>
      <b class="b62">145.0</b>
      <b class="b63">145.0</b>
      <div class="beverages-2-4-parent3">
        <img
          class="beverages-2-45"
          alt=""
          src="../public/beverages-2-4@2x.png"
          id="beverages24"
        />

        <div class="bobastic5" id="bOBASTICText">
          <b>BOBASTIC</b>
          <b class="b64"> </b>
        </div>
      </div>
      <div class="card-query-child16"></div>
      <div class="card-query-child17"></div>
      <img class="beverages-2-53" alt="" src="../public/beverages-2-51@2x.png" />

      <div class="card-query-child18"></div>
      <img class="beverages-2-61" alt="" src="../public/beverages-2-6@2x.png" />

      <b class="bobacard2">
        <p class="bobacard3">BOBACARD</p>
      </b>
      <b class="b65">. . .</b>
      <div class="rectangle-138-input1"></div>
      <b class="dont-have-your-container" id="dontHaveYour">
        <span>Don't have your card activated? </span>
        <span class="activate-here">Activate here</span>
      </b>
      <b class="contactbobacard-number">Contact/Bobacard Number</b>
      <div class="rectangle-141-input1"></div>
      <b class="password3">Password</b>
      <div class="log-in-wrapper">
        <b class="log-in">Log In</b>
      </div>
    </div>

    <script>
      var beverages24 = document.getElementById("beverages24");
      if (beverages24) {
        beverages24.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var bOBASTICText = document.getElementById("bOBASTICText");
      if (bOBASTICText) {
        bOBASTICText.addEventListener("click", function (e) {
          window.location.href = "./HOMEPAGE.ejs";
        });
      }
      
      var dontHaveYour = document.getElementById("dontHaveYour");
      if (dontHaveYour) {
        dontHaveYour.addEventListener("click", function (e) {
          window.location.href = "./ACTIVATE.ejs";
        });
      }
      </script>
  </body>
</html>
