
/* table area */
.Tstyle{
  position: absolute;
  top: 19vh;
  left: 2vw;
  border: 0.3vw dashed var(--color-burlywood-400);
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  width: 95vw;
  height: 80vh;
  background-color: var(--color-wheat-200);
}

table {
  width: 100%;
  border-collapse: collapse;
}
.short, .CN {
  width: 4%;
  background-color: burlywood;
  text-align: center;
  border: 0.1vw solid var(--color-tan-200);
  color: rgb(112, 60, 36);
  font-family: var(--font-catamaran);
}
td {
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-tan-200);
  color: rgb(53, 27, 15);
  font-family: var(--font-catamaran);
  font-size: large;
}
.trans{
  width: 2%;
  background-color: transparent;
  font-weight: bold;
}
.Boxbutton{
  background-color: cornsilk;
  border: 0.2vw solid var(--color-saddlebrown-100);
  font-family: var(--font-catamaran);
  cursor: pointer;
}


/* search engine */
.search{
  position: absolute;
  top: 12vh;
  left: 10vw;
  background-color: #ffe6c3;
  height: 4vh;
  width: 70vw;
  border-radius: var(--br-3xs);
  cursor: pointer;
}
.TextSearch{
  margin: 0.5vh;
  left: 25vw;
  position:absolute;
  color: #b8b1a8;
  font-size: medium;
}

.searchIcon{
  position: absolute;
  height: 4vh;
  left: 97.5%;
}