/* order area sa left side */
.orderBg {
  position: fixed;
  top: 14vh;
  left: 2%;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  border: 0.2vw solid var(--color-tan-300);
  background-color: var(--color-tan-100);
  width: 30vw;
  height: 85vh;
}
.orderList{
    position: absolute;
    top: 2%;
    width: 30vw;
    height: 80vh;
    background-color: transparent;
}
/* order area box below */
.orderbox {
    position: fixed;
    top: 65%;
    left: 2vw;
    background-color: var(--color-bisque-100);
    box-sizing: border-box;
    border: 0.2vw dashed var(--color-tan-300);
    width: 30.3vw;
    height: 35%;
}
/* pay box */
.paybox {
    left: 20vw;
    /* align-items: center; */
    background-color: var(--color-darkseagreen);
    border: 2px solid var(--color-seagreen-100);
}
/* clear box */
.clearbox {
    left: 10.3vw;
    /* align-items: center; */
}
/* add box */
.addbox{
    left: 2%;
    /* align-items: center;   */
    
}
.addbox,
.paybox,
.clearbox{
    position: absolute;
    top: 27vh;
    cursor: pointer;
    width: 8.5vw;
    height: 5vh;
    border-radius: var(--br-11xl);
}

/* total box */
.totalbox{
    top: 16vh;
    left: 60%;
    position: absolute;
    border-radius: var(--br-8xs);
    background-color: cornsilk;
    border: 1px solid var(--color-tan-300);
    box-sizing: border-box;
    width: 10vw;
    height: 5vh;
}

.addbox,
.clearbox{
    background-color: var(--color-sienna-100);
    border: 2px solid var(--color-sienna-300);
}

.clear, .add, .pay, .back {
    color: white; /* Set the text color to black */
    font-weight: bold; /* Apply bold font weight */
    font-size: 1.2em;
}

.clear {
    top: 1vh;
    margin: 0;
    left: 2.1vw;
}
.add {
    top: 1vh;
    margin: 0;
    left: 2.7vw;
}

.pay {
    top: 1vh;
    margin: 0;
    left: 34%;
    cursor: pointer;
}

.back {
    top: 1vh;
    margin: 0;
    left: 2.5vw;
}
.continue {
    top: 1vh;
    margin: 0;
    left: 20%;
    cursor: pointer;
    color: white; 
    font-weight: bold; 
    font-size: 1.2em;
}
.exit {
    position: absolute;
    top: 1vh;
    left: 3vw;
    cursor: pointer;
    color: white; 
    font-weight: bold; 
    font-size: 1.2em;
}
.exitbox {
    /* align-items: center; */
    background-color: var(--color-darkseagreen);
    border: 2px solid var(--color-seagreen-100);
    position: absolute;
    top:78vh;
    left: 86vw;
    cursor: pointer;
    width: 8.5vw;
    height: 5vh;
    border-radius: var(--br-11xl);
}
/* total */
.total1 {
    top: 13.2vh;
    left: 46%;
    color: var(--color-dimgray-200);
    font-size: 1.5em;
}
.b39{
  top: 17.3vh;
  left: 20.5vw;
  color: var(--color-dimgray-200);
  font-size: 1.2em;
}

.clear, .add, .b39, .exitbox,
.pay, .total1{
  position: absolute;
  display: inline-block;
}
.delete{
    position: absolute;
    top: 4.5vh;
    left: 89%;
    width: 1.5vw;
    cursor: pointer;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    color: var(--color-tan-100);
    background-color: transparent;
}
td {
    padding: 8px;
    text-align: center;
    color: var(--color-sienna-300);
}
.b{
    width: 2%;
    color: #eed2ac;
}
.a{
    width: 1%;
    color: #eed2ac; 
} 