/* order area sa left side */
.orderBg {
  position: relative;
  top: 14vh;
  left: 2%;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  border: 0.2vw solid var(--color-tan-300);
  background-color: var(--color-tan-100);
  width: 30vw;
  height: 85vh;
}

/* order area box below */
.orderbox {
    position: fixed;
    top: 65%;
    left: 2vw;
    background-color: var(--color-bisque-100);
    box-sizing: border-box;
    border: 0.2vw dashed var(--color-tan-300);
    width: 30.3vw;
    height: 35%;
}
/* pay box */
.paybox {
    left: 21vw;
    /* align-items: center; */
    background-color: var(--color-darkseagreen);
    border: 2px solid var(--color-seagreen-100);
}
/* clear box */
.clearbox {
    left: 11vw;
    /* align-items: center; */
}
/* add box */
.addbox{
    left: 3%;
    /* align-items: center;   */
    
}
.addbox,
.paybox,
.clearbox{
    position: absolute;
    top: 27vh;
}

/* total box */
.totalbox{
    top: 16vh;
    left: 60%;
    position: absolute;
    border-radius: var(--br-8xs);
    background-color: cornsilk;
    border: 1px solid var(--color-tan-300);
    box-sizing: border-box;
    width: 10vw;
    height: 5vh;
}

.addbox,
.clearbox{
    background-color: var(--color-sienna-100);
    border: 2px solid var(--color-sienna-300);
}
.clearbox,
.addbox,    
.paybox{
    width: 8vw;
    height: 5vh;
}

.clear, .add, .pay {
    color: white; /* Set the text color to black */
    font-weight: bold; /* Apply bold font weight */
    font-size: 1.2em;
}

.clear {
    top: 1vh;
    margin: 0;
    left: 2.1vw;
}
.add {
    top: 1vh;
    margin: 0;
    left: 2.7vw;
}

.pay {
    top: 1vh;
    margin: 0;
    left: 34%;
    cursor: pointer;
}
/* total */
.total1 {
    top: 13.2vh;
    left: 46%;
    color: var(--color-dimgray-200);
    font-size: 1.5em;
}
.b39{
  top: 17.3vh;
  left: 20.5vw;
  color: var(--color-dimgray-200);
  font-size: 1.2em;
}

.clear,
.add,
.b39,
.pay,
.total1 {
  position: absolute;
  display: inline-block;
}
.delete{
    position: absolute;
    top:2.5%;
    left: 90%;
    width: 1.5vw;
  }