.activate-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 746vh;
  height: 40vh;
}
.b58,
.b59 {
  position: absolute;
  top: 93vh;
  left: 235vh;
  display: none;
  color: var(--color-dimgray-200);
  width: 35vh;
  height: 9vh;
}
.b59 {
  top: 201vh;
}
.beverages-2-44 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32vh;
  height: 40vh;
  object-fit: cover;
  cursor: pointer;
}
.b60 {
  font-family: var(--font-catamaran);
}
.bobastic4 {
  position: absolute;
  top: 15vh;
  left: 16vh;
  text-decoration: underline;
  display: inline-block;
  width: 97vh;
  height: 26vh;
  cursor: pointer;
}
.beverages-2-4-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 113vh;
  height: 41vh;
  font-size: var(--font-size-sm);
  color: var(--color-tan-100);
  font-family: var(--font-league-spartan);
}
.activate-inner,
.activate-item {
  position: absolute;
  border-radius: var(--br-3xs);
}
.activate-item {
  top: 7vh;
  left: 284vh;
  background-color: var(--color-cornsilk);
  width: 116vh;
  height: 42vh;
  display: none;
}
.activate-inner {
  top: 76vh;
  left: 32vh;
  background-color: var(--color-wheat-200);
  width: 678vh;
  height: 344vh;
}
.beverages-2-52,
.beverages-2-6 {
  position: absolute;
  top: calc(50% - 177vh);
  left: calc(50% - 139vh);
  width: 554vh;
  height: 401vh;
  object-fit: cover;
}
.beverages-2-6 {
  top: calc(50% - 179vh);
  left: calc(50% - 373vh);
  width: 511vh;
  height: 378vh;
}
.activate-child1 {
  position: absolute;
  top: 307vh;
  left: 334vh;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightcoral-200);
  border: 1vh solid var(--color-gray-100);
  box-sizing: border-box;
  width: 75vh;
  height: 34vh;
}
.bobacard1 {
  margin: 0;
}
.b61,
.bobacard {
  position: absolute;
  color: var(--color-sienna-200);
}
.bobacard {
  top: 90vh;
  left: 140vh;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 467vh;
  height: 100vh;
  -webkit-text-stroke: 1vh rgba(157, 101, 50, 0.5);
}
.b61 {
  top: 65vh;
  left: 320vh;
  font-size: var(--font-size-77xl);
}
.activate-child2,
.rectangle-138-input,
.rectangle-141-input {
  position: absolute;
  top: 189vh;
  left: 273vh;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan-600);
  border: 1vh solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 196vh;
  height: 34vh;
}
.activate-child2,
.rectangle-141-input {
  top: 226vh;
  left: 274vh;
}
.activate-child2 {
  top: 307vh;
  left: 334vh;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkkhaki-100);
  border: 1vh solid var(--color-gray-100);
  width: 75vh;
}
.log-in-here {
  text-decoration: underline;
  color: var(--color-royalblue);
}
.already-have-your-container {
  position: absolute;
  top: 371vh;
  left: 264vh;
  font-size: var(--font-size-2xs);
  cursor: pointer;
  color: var(--color-black);
}
.bobacard-number,
.contact-number {
  position: absolute;
  font-family: var(--font-titillium-web);
}
.bobacard-number {
  top: 198vh;
  left: 302vh;
  display: inline-block;
  width: 139vh;
  height: 15vh;
}
.contact-number {
  top: 233vh;
  left: 330vh;
}
.rectangle-142-input {
  position: absolute;
  top: 263vh;
  left: 274vh;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan-600);
  border: 1vh solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 196vh;
  height: 34vh;
}
.activate-button,
.password2 {
  position: absolute;
  top: 270vh;
  left: 346vh;
  font-family: var(--font-titillium-web);
}
.activate-button {
  top: 314vh;
  left: 350vh;
  color: var(--color-seagreen-200);
}
.activate {
  position: relative;
  background-color: var(--color-cornsilk);
  width: 100%;
  height: 398vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-wheat-200);
  font-family: var(--font-catamaran);
}
